@model List<TFAMtrlGrp>

<div class="container">
    <h2 class="text text-center ">Material Group Detail</h2>
    <a asp-controller="MaterialGroup" asp-action="Create" class="btn btn-primary float-end m-2"><i class="bi bi-plus-square"></i>Create New Material Group</a>

    <table class="table table-bordered table-striped">
        <thead>
            <th>Materail Group Id</th>
            <th>Short Desc</th>
            <th>Desc</th>
            <th>Action</th>
        </thead>
        <tbody>
            @foreach(var insideData in Model)
            {
                <tr>
                    <td></td>
                    <td>@insideData.GrpShortDesc</td>
                    <td>@insideData.GrpDesc</td>
                    <td>
                        <a asp-controller="MaterialGroup" asp-action="Edit" asp-route-famtrlGrpId="@insideData.FAMtrlGrpId" class="btn btn-primary">Edit</a>
                        <a asp-controller="MaterialGroup" asp-action="Delete" asp-route-famtrlGrpId="@insideData.FAMtrlGrpId" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
